/* Author: Oscar Salvatierra */
/* Aurthor Oscar Salvatierra */
/* Color Variables */
/* Opacity Settings */
/* Miscellaneous Variables */
/* Font Size Variables */
/* Font Type Variables */
/* Text Variables */
/* Line Height Variables */
/* Colulmns Variables */
/* Padding, Border and Margin Variable */
/* Mixin Padding Rules */
/* Aurthor Oscar Salvatierra */
/* Media Query for Logo */
@media only screen and (max-width: 668px) {
  img.logo {
    display: none; } }
@media only screen and (min-width: 671px) and (max-width: 768px) {
  img.logo {
    padding-top: 10px;
    width: 125px; } }
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  img.logo {
    padding-left: 0px;
    padding-top: 0px;
    width: 100%; }

  img.icon {
    width: 30%; } }
/* End Media Query for Logo */
/* MEDIA QUERIES FROM 320px to 399px */
@media only screen and (min-width: 320px) and (max-width: 399px) {
  img.icon {
    width: 70%; }

  .mtop {
    margin-top: 0px; }

  .mtop h2 {
    color: #009fda !important; }

  .hero {
    background-image: url("/images/dandelion-xsmall.jpg");
    background-size: cover;
    background-repeat: no-repeat; }

  .box {
    padding: 10px;
    margin-top: 10px;
    font-weight: 800; }

  .f-topbar-fixed {
    padding-top: 0px !important; } }
/* END */
/* MEDIA QUERIES FROM 320px to 767px */
/* Learn More button, button hover and img.con */
@media only screen and (min-width: 400px) and (max-width: 1026px) {
  .mtop {
    margin-top: 0px; }

  .mtop h2 {
    color: #009fda !important; } }
@media only screen and (min-width: 1027px) and (max-width: 1440px) {
  .mtop {
    margin-top: 19px; }

  .mtop h2 {
    color: #009fda !important; } }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  a.btn {
    width: 100%; }

  a.btn:hover {
    width: 100%; }

  img.icon {
    width: 28%; }

  .mtop {
    margin-top: 19px;
    width: 70% !important;
    float: left !important; }

  .mtop h2 {
    color: #009fda !important; }

  .leftsm {
    text-align: right;
    float-right: right;
    position: absolute;
    width: 100%; }

  .social {
    float: right !important;
    width: 100% !important;
    padding-bottom: 25px !important; }

  .contact-us {
    float: left !important;
    width: 100% !important;
    height: 150px !important; }

  .contact-us: hover;
    .contact-us-float: left !important;
    .contact-us-width: 100% !important;
    .contact-us-height: 150px !important;
  .footer {
    height: 150px !important; } }
/* END */
/* Media Query for Hero Image from 400px to 1920px */
@media only screen and (min-width: 400px) and (max-width: 739px) {
  .hero {
    background-image: url("/images/dandelion-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 19em; }

  .box {
    padding: 10px;
    margin-top: 10px;
    font-weight: 800; }

  .box h1 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #fff;
    font-size: 36px;
    line-height: 34px;
    text-align: left; }

  .box p {
    line-height: 33px; }

  .f-topbar-fixed {
    padding-top: 0px !important; } }
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .hero {
    background-image: url("/images/dandelion-medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    height: 21em; }

  .box {
    padding: 50px;
    margin-top: 10px;
    font-weight: 800; }

  .box h1 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #fff;
    font-size: 44px;
    line-height: 34px;
    text-align: left; }

  .box p {
    line-height: 33px; }

  .f-topbar-fixed {
    padding-top: 0px !important; } }
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .hero {
    background-image: url("/images/dandelion-large.jpg");
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-size: cover;
    height: 26em; }

  .box {
    padding: 50px;
    margin-top: 10px;
    font-weight: 800; }

  .box h1 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #fff;
    font-size: 44px;
    line-height: 34px;
    text-align: left; }

  .box p {
    line-height: 33px; }

  .f-topbar-fixed {
    padding-top: 0px !important; } }
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .hero {
    background-image: url("/images/dandelion-xlarge.jpg");
    background-repeat: no-repeat;
    height: 29em; }

  .box {
    padding: 50px;
    margin-top: 10px;
    font-weight: 800; }

  .box h1 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #fff;
    font-size: 44px;
    line-height: 34px; }

  .box p {
    line-height: 33px; }

  .f-topbar-fixed {
    padding-top: 0px !important; } }
/* END */
/* CSS using Above Variable and Mixin Definitions */
body {
  font: "Raleway", "sans-serif";
  font-size: 18px; }

hr {
  text-align: center;
  margin: 0px auto;
  opacity: 0.5; }

ul {
  text-transform: uppercase; }

ul.inline-list.right a {
  color: #fff;
  text-transform: none; }

ul.inline-list.right a:hover {
  color: rgba(0, 0, 0, 0.5); }

h1 {
  font-family: "American Typewriter", "Courier New", "Courier", "Monaco", "mono";
  font-size: 32px;
  font-color: #fff;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 0px;
  text-align: center; }

h2 {
  color: #fff !important;
  font-size: 36px;
  line-height: 34px; }

h3 {
  font-family: "American Typewriter", "Courier New", "Courier", "Monaco", "mono";
  font-color: #fff;
  font-size: 24px;
  line-height: 10px;
  font-weight: 500;
  padding-bottom: 10px; }

h4 {
  font-family: "American Typewriter", "Courier New", "Courier", "Monaco", "mono";
  font-color: #fff;
  font-size: 28px;
  padding-top: 5px; }

.columns.large-centered {
  padding-left: 5px;
  padding-right: 5px; }

.about-box {
  color: #fff; }

.full-width {
  max-width: 100% !important;
  position: relative; }

a.btn {
  background-color: rgba(255, 255, 255, 0.1) !important;
  display: inline-block;
  padding: 12px 20px 10px;
  font-family: 'Freight',sans-serif;
  font-size: 14px !important;
  font-size: 2rem;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #ffffff; }

a.btn:hover {
  background-color: #009fda !important;
  color: #ffffff; }

.button-group li .button {
  border: 0 !important; }

footer p, footer a {
  font-size: 14px; }

.off-white-content {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #EAEAEA; }

.evenrows {
  padding-top: 80px;
  padding-bottom: 80px; }

.panel {
  margin: 40px 0 40px 0;
  box-shadow: none !important;
  color: none !important;
  border: none;
  background-color: none !important; }

.qcontainer {
  padding-top: 45px;
  padding-bottom: 40px; }

.qmargin {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px; }

.large-4 img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }

/* fixedbar styles */
#fixedbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; }

#navigation {
  display: inline; }

/* fixedbar styles */
/* pull quote left and right styles */
.qbox {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 65px;
  margin-bottom: 60px; }

.quote-left {
  font-family: Georgia,Times,serif;
  position: absolute;
  top: 20px;
  left: 10px;
  color: #009fda;
  font-size: 84px;
  font-weight: 700; }

.quote-right {
  font-family: Georgia,Times,serif;
  position: absolute;
  bottom: -21px;
  right: 10px;
  color: #009fda;
  font-size: 84px;
  font-weight: 700; }

/* Footer Styles */
.full-width {
  max-width: 1400px; }

.contact-us {
  background: #1d6da2;
  padding-top: 70px;
  height: 200px; }

.contact-us:hover {
  background: #60b7d4;
  padding-top: 70px;
  height: 200px; }

.spadding {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.social {
  background-color: #2980b9;
  height: 200px; }

.fa:hover {
  color: #0e4b74;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-size: 28px; }

.fcontainer {
  height: 400px;
  background-color: #a9a9a9;
  background-image: url("/images/forest-bg.gif"); }

.footer {
  text-align: center;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 40px;
  height: 300px; }
  .footer i {
    font-size: 100px; }

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px; }
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff; }

.footer-links {
  list-style-type: none; }
  .footer-links li {
    margin-top: .5em; }

.footer i {
  font-size: 28px; }

/*# sourceMappingURL=style.css.map */
